<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="pageLogin.css" />
	<title> Login Andrice Congés</title>
</head>
<body>
	<h1> Page de connexion</h1>
	<p>

		<button onclick="window.open('pageSalarieCadre.html')" id="button1">Je suis un salarié cadre</button>
		<button onclick="window.open('pageSalarieNonCadre.html')" id="button2" >Je suis un salarié non cadre</button>
		<button onclick="window.open('pageManager.html')" id="button3" >Je suis un manager</button>
		<button onclick="window.open('pageRH.html')" id="button4" >Je suis un RH </button>
	
	</p>

</body>
</html>