html{
	scroll-behavior: smooth;
}
.vertical-menu {
	width: 200px; 
}

.vertical-menu label {
	display: block; 
	padding: 12px; 
	text-decoration: none; 
}




.toast-list{
	position: absolute;
	right: 10%;
}




.navbar{
	z-index: 78;
}
.nav{
	z-index: 0;
}

#deces{
	display: none;
}

#mariage{
	display: none;
}

.popupsDeces{
	display: none;
}