<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	
	<title>Gestion des congés</title>
	<link rel="stylesheet" href="pageSalarieNonCadre.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
</head>
<body>
	
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark"><ul class="navbar-nav"><li><h2>GESTION DES CONGES</h2></li></ul>
	</nav>

	<div class="container">
		


		<h2>Mes actions</h2>

		<ul class="nav flex-column">
			<li class="nav-item">
				<label>Demandes en cours</label>
			</li>
			<li class="nav-item">
				<label>Historique</label>
			</li>

		</ul>


		
		<div class="offset-lg-2 col-lg-10">
			<div class="row mt-3">
				<div class="col-md-8 col-lg-3 offset-lg-3">
					<div class="card text-center">
						<div class="card-header" >Congés payés</div> 
						<div class="card-body">

							<p >22 jours</p>
							<p > solde restant du N-1 </p>
							<p > pris en N </p>
						</div>


					</div>
				</div>

			</div>
			<div class="row mt-3">
				<div class="col-md-8 col-lg-5 offset-lg-2">
					<div class="card text-center">
						<div class="card-header">Demande d'absence</div>
						<div id="demandeAbsence" class="card-body">
							<form id="f"  onsubmit="return false">
								<fieldset>
									<select name="motifAbsence" id="motifAbsence" size="1" class="form-control" onchange="showPopUp()">
										<option value="" disabled selected>--Choisissez un motif d'absence--</option>
										<option value="1">Décès </option>
										<option value="2">Mariage</option>
										<option value="3">Naissance/Adoption</option>
										<option value="4">Examens médicaux liés à la grossesse</option>
										<option value="5">Congé paternité</option>
										<option value="6">Congé maternité</option>
										<option value="7">Congé enfant malade</option>
									</select><br><br>
									<input type="submit" class="btn btn-info" value="Demander" onclick="clickDeces()" />

								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-md-8 col-lg-5 offset-lg-2">
					<div  id="deces" class="card text-center">
						
						<form id="fDeces" >
							<fieldset>
								<div class="card-header">Veuillez renseigner votre lien de parenté avec le/la défunt.e :</div>
								<div class="card-body">
									<select name="casDeces" id="casDeces" size="1" class="form-control" onchange="infoDeces()">
										<option value="" disabled selected>--Choisissez votre situation--</option>
										<option value="a">Enfant, conjoint ou ascendants</option>
										<option value="b">Collatéraux jusqu'au 2e degré</option>
										<option value="c">Beaux-parents</option>

									</select>
									<input id="bDeces" type="submit" value="Demander" class="btn btn-info" />
								</div>
							</fieldset>
						</form>

					</div>
				</div>
			</div>
		</div>
		<div class="position-absolute w-100 p-4  d-flex flex-column align-items-end toast-list">
			
			<div  id="popup1" class="toast" data-autohide="false">
				<div class="toast-header">
					<strong class="mr-auto text-primary">Informations</strong>
					<button type="button" class="ml-2 mb-1 close" datt a-dismiss="toast">&times;</button>
				</div>
				<div class="toast-body">
					En cas de décès d'un proche, vous pouvez faire une demande d'absence de 2 jours ouvrés s'il s'agit du conjoint, enfant ou ascendant et d'un jour ouvré s'il s'agit d'un collatéral jusqu'au 2e degré ou d'un beau-parent.
				</div>
			</div>
			

		</div>
		<div class="position-absolute w-100 p-4 d-flex flex-column align-items-end toast-list">

			<div  id="popup2" class="toast" data-autohide="false">
				<div class="toast-header">
					<strong class="mr-auto text-primary">Informations</strong>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
				</div>
				<div class="toast-body">
					S'il s'agit de votre propre mariage, vous pouvez faire une demande de 4 jours ouvrés. S'il s'agit du mariage d'un de vos enfants, vous pouvez faire une demande d'un jour ouvré. L'envoi d'un justificatif au service RH est obligatoire après validation.
				</div>
			</div>
		</div>
		<div class="position-absolute w-100 p-4  d-flex flex-column align-items-end toast-list">
			<div  id="popup3" class="toast" data-autohide="false">
				<div class="toast-header">
					<strong class="mr-auto text-primary">Informations</strong>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
				</div>
				<div class="toast-body">
					En cas de naissance ou d'adoption, vous pouvez faire une demande de 3 jours ouvrés. Vous pouvez fractionner ces 3 jours. L'envoi d'un justificatif au service RH est obligatoire après validation.
				</div>
			</div>
		</div>
		<div class="position-absolute w-100 p-4  d-flex flex-column align-items-end toast-list">

			<div  id="popup4" class="toast" data-autohide="false">
				<div class="toast-header">
					<strong class="mr-auto text-primary">Informations</strong>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
				</div>
				<div class="toast-body">
					congé mat
				</div>
			</div>
		</div>
		<div class="position-absolute w-100 p-4  d-flex flex-column align-items-end toast-list">
			<div  id="popup5" class="toast" data-autohide="false">
				<div class="toast-header">
					<strong class="mr-auto text-primary">Informations</strong>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
				</div>
				<div class="toast-body">
					Vous pouvez faire une demande de 11 jours calendaires consécutifs (c'est-à-dire samedi et diamnche compris). L'envoi d'un justificatif au service RH est obligatoire après validation.
				</div>
			</div>
		</div>
		<div class="position-absolute w-100 p-4  d-flex flex-column align-items-end toast-list">
			<div  id="popup6" class="toast" data-autohide="false">
				<div class="toast-header">
					<strong class="mr-auto text-primary">Informations</strong>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
				</div>
				<div class="toast-body">
					Vous pouvez faire une demande d'au moins 0,5 jour.
				</div>
			</div>
		</div>
		<div class="position-absolute w-100 p-4  d-flex flex-column align-items-end toast-list">
			<div  id="popup7" class="toast" data-autohide="false">
				<div class="toast-header">
					<strong class="mr-auto text-primary">Informations</strong>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
				</div>
				<div class="toast-body">
					Info enfant malade
				</div>
			</div>
			
		</div>
	</div>

	



	<div class="popupsDeces" id="popupsDeces1"> Attention, vous ne pouvez prendre que 2 jours ouvrés </div>
	<div class="popupsDeces" id="popupsDeces2">Attention, vous ne pouvez prendre qu'un jour ouvré</div>



	<script  src='pageSalarieNonCadre.js'></script>



</body>
</html>