<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="pageLogin.css" />
	<title> Login Andrice Congés</title>
</head>
<body>
	<div>
		<h1> Page de connexion</h1>
		<p>

			<a href="Salarie/pageSalarieCadre.php"><button id="button1">Je suis un salarié cadre</button></a>
			<a href="Salarie/pageSalarieNonCadre.php"><button id="button2" >Je suis un salarié non cadre</button></a>
			<a href="Manager/pageManager.php"><button id="button3" >Je suis un manager</button></a>
			<a href="RH/pageRH.php"><button id="button4" >Je suis un RH </button></a>
	
		</p>
	</div>
</body>
</html>