<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="pageSalarieNonCadre.css" />
	<title>Gestion des congés</title>
	
	
</head>
<body>
	<div class="vertical-menu">
		<label>Demande en cours</label>
		<label>Historique</label>
	</div>
	<div id="div1">
		<p id="CP">Congés payés</p>
		<p id="joursRestant">22 jours</p>
		<p id="soldes N-1"> solde restant du N-1 </p>
		<p id="pris"> pris en N </p>
	</div>
		

	</div>
	<div id="demandeAbsence">
		<form id="f" onsubmit="return false">
			<fieldset id="section-1">
			<label for="motifAbsence">Veuillez choisir un motif d'absence :</label><br><br>
			<select name="motifAbsence" id="motifAbsence" size="1" onchange="showPopUp()">
				<option value="" disabled selected>--Choisissez un motif d'absence--</option>
				<option value="a">Décès </option>
				<option value="b">Mariage</option>
				<option value="c">Naissance/Adoption</option>
				<option value="d">Examens médicaux liés à la grossesse</option>
				<option value="e">Congé paternité</option>
				<option value="f">Congé maternité</option>
				<option value="g">Congé enfant malade</option>
			</select><br><br>
			<input type="submit" value="Demander" onclick="clickDeces()" />
			</fieldset>
		</form>
	</div>
	<div class="popups" id="popup1">Informations Décès</div>
	<div class="popups" id="popup2">Informations Mariage</div>
	<div class="popups" id="popup3">Informations Naissance</div>
	<div class="popups" id="popup4">Informations Examens</div>
	<div id="deces">
		<form id="fDeces">
			<fieldset id="section-2">
			<label for="casDeces">Veuillez renseigner votre lien de parenté avec le/la défunt.e :</label><br><br>
			<select name="casDeces" id="casDeces" size="1">
				<option value="" disabled selected>--Choisissez votre situation--</option>
				<option value="a">Enfant, conjoint ou ascendants</option>
				<option value="b">Collatéraux jusqu'au 2e degré</option>
				<option value="c">Beaux-parents</option>
				
			</select><br><br>
			<input id="bDeces" type="submit" value="Demander"  />
			</fieldset>
		</form>

	</div>
	

	<script  src='pageSalarieNonCadre.js'></script>
</body>
</html>